<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425070391594-vjgfi9t99mkdtj8mav14egc4scprecm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425070391594-vjgfi9t99mkdtj8mav14egc4scprecm1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425070391594-pnt1fh0jmvmknmq478vrha4d33http4i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuIw2Iy3QhqLFJddLFI-p7vkpHN_6ISSA</string>
	<key>GCM_SENDER_ID</key>
	<string>425070391594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.technovationrazzypies</string>
	<key>PROJECT_ID</key>
	<string>technovation-razzy-pies-ck0ngx</string>
	<key>STORAGE_BUCKET</key>
	<string>technovation-razzy-pies-ck0ngx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425070391594:ios:e6a84347db000f3822ae53</string>
</dict>
</plist>